
* {
  box-sizing: border-box;
}


/* ----------------------------------------
Typography
------------------------------------------- */

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .02em;
  text-align: center;
  color: #44545E;
  font-size: 15px;
  background-color:  #e6ffff;
}

main{
    padding: 0 30px;
}

a {
  text-decoration: none;
}

a:hover {
    color: #3050E8;
}
a:visited {
    color: #1C1563;
}


p {
  text-align: center;
}

img {
  max-width: 100%;

}

h1, h3, h4 {
  font-family: 'Karla', sans-serif;
}

h1 {
  font-size: 75px;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 10px;
  color: #ffffff;

}

h2 {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  padding: 10px;
  font-weight: bold;
  /*font-family: 'Amatic SC', cursive;*/

}

h3 {
  font-size: 28px;
  text-align: center;
  }


h4 {
  font-size: 18px;
  text-align: center;
  /*font-style: italic;*/
  /*font-family: 'Amatic SC', cursive;*/
}


nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    padding-bottom: 1px;
    margin-bottom: 10px;
    flex-basis; 100;
    flex-wrap: wrap;
    justify-content: center;
    background-color:  #ffffff;

}

nav a {
	font-weight: 600;
	letter-spacing: 0.75px;
	padding: 20px 60px;
	display: inline-block;
  flex-wrap: wrap;
  border-bottom: none;
	text-transform: uppercase;
  color: #3C3B3F;

}


header {
  background-image: url('../img/boraborawater.jpg');
  background-size: cover;
  background-position: center;
  padding: 0;
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
}

section{
  display: flex;
  flex-direction: column;
}

.intro-text {
  max-width: 800px;
  margin: auto;
  padding-bottom: 50px;
}

/* ----------------------------------------
Work
------------------------------------------- */

.work {
  margin: 50;
  display: flex;

}

.row {
	display: flex;
	justify-content: space-between;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
  text-align: center;
}

.col-3-3-3 {
  margin: 20px 40px 40px 40px;
  flex-basis: 33%;


}
.col-2-3 {
  margin: 20px 60px 60px 60px;
	flex-basis: 50%;
}


.projects div, .fave-things div {
  opacity: 1;
  transform: rotate(-90deg);
  transform: scale(.6, .6);
}

.faded-in div {
  opacity: 1;
  transition: all .3s ease-in-out;
  transform: scale(1, 1);
}

.fave-things {
  text-align: center;
  line-height: 36px;
  display: flex;
  flex-basis: 100%;
  opacity: 1;
  transform: rotate(-90deg);
  transform: scale(.8, .8);
  font-size: 14px;
}


/* ----------------------------------------
Contact
------------------------------------------- */


.contact {
  margin: 50px;
  display: flex;
  flex-basis: 100;
  text-align: center;
}

.social-links a {
	font-size: 35px;
	padding: 10px;
	display: inline-block;
	color: #44545E;
  text-align: center;
  align-items: center;

}


/* ----------------------------------------
Footer
------------------------------------------- */

.footercopy {
  diplay: flex;
  font-size: 11px;
  text-align: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 2px;
}

footer {
  background-color: #ffffff;

}

/* ----------------------------------------
Responsive
------------------------------------------- */
@media screen and (max-width: 970px) {

  .row {
    flex-basis: 50%;
    flex-wrap: wrap;
  }

  .col-3-3-3 {
    flex-basis: 100%;
  }

  .col-2-3 {
    flex-basis: 100%;
}

@media screen and (max-width: 771px) {
  .row {
    flex-basis: 100%;
    flex-wrap: wrap;
  }

  .work {
    margin: 0;
  }
  .col-3-3-3 {
    flex-basis: 100%;
  }

  nav a {
    text-align: center;
    display: block;
    padding: 10px 20px;

}

*/
